.header {
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  padding: 24px 25px 24px 20px;
  justify-content: space-between;
}

.header__logo {
  width: 80px;
}

.header__menu {
  display: flex;
  margin-bottom: 2px;
}

.header__menu-item {
  color: #FFFFFF;
  font-size: 12px;
  margin-left: 25px;
  text-decoration: none;
  font-family: 'Raleway';
}

.hero {
  display: flex;
  padding-top: 96px;
  align-items: center;
  flex-direction: column;
  background-color: #1C2431;
}

.hero__image {
  z-index: 1;
  width: 304px;
  position: relative;
}

.hero__content {
  z-index: 0;
  display: flex;
  margin-top: 100px;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-color: #181F2A;
}

.hero__content:before {
  content: '';
  z-index: -1;
  top: -141px;
  width: 100%;
  height: 141px;
  position: absolute;
  background-image: url('./static/images/bg-curvy-mobile.svg');
}

.hero__title {
  color: #FFFFFF;
  font-size: 24px;
  padding: 0 30px;
  margin-top: -67px;
  line-height: 1.5em;
  text-align: center;
  font-family: 'Raleway';
}

.hero__description {
  color: #FFFFFF;
  font-size: 14px;
  text-align: center;
  line-height: 1.5em;
  padding: 15px 38px 32px;
}

.button {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 700;
  padding: 17px 82px;
  border-radius: 30px;
  font-family: 'Raleway';
  background-color: #4fc5d3;
}

.main {
  margin-top: 130px;
}

.info {
  display: flex;
  align-items: center;
  margin-bottom: 75px;
  flex-direction: column;
}

.info__image--access-anywhere {
  width: 64px;
}

.info__image--security {
  width: 54px;
}

.info__image--collaboration {
  width: 70px;
}

.info__image--any-file {
  width: 69px;
}

.info__title {
  color: #FFFFFF;
  font-size: 17px;
  margin-top: 36px;
  font-family: 'Raleway';
  letter-spacing: 0.035em;
}

.info__description {
  color: #FFFFFF;
  font-size: 14px;
  text-align: center;
  padding: 12px 30px;
  line-height: 1.5em;
}